li{
    position: relative;
    list-style: none;
    display: grid;
    place-items: center; /* Centers everything */
    gap: 5px;

    width: 100%;
}

li h2,h3{
    margin: 0;
    padding: 0;
    height: 25%;
    background-color: lightblue;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

li p{
    margin: 0;
    padding: 0;
    height: 50%;
    width: 80%;
    overflow-y: scroll;
    text-align: center;
}
li p::-webkit-scrollbar{
    display: none;
}
li button{
    margin-bottom: 10px;
}