.card{
    display: flex;
    align-items: center;   
    width: 100%;
}
.medicines-list .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border: 2px solid darkblue;
    border-radius: 50px;
    height: 200px;
 
}

.cart-items .card{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-bottom: 2px solid darkblue;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: lightblue;
}
